/* ==================== 상세페이지 헤더 ==================== */
.nav-gnb{
    background-color: #fff;
    position: fixed;
    z-index: 100;
    border: 1px solid #DBDBDB;
}
.nav-gnb .menu .menu-wrap .menu-underline:hover{
    position: absolute;
    display: inline-block;
    margin: 0 0;
    width: 100%;
    height: 5px;
    left: 0;
    top: 35px;
    background-color: #0f387a;
}
.nav-gnb .menu .menu-wrap a{
    color: #000;
}
input[id="menuicon"] + label span{
    background-color: #000;
}


/* ==================== 사업현황 헤더 영역 ==================== */
.header-title-bg {
    width: 100%;
    height: 300px;
    background: url(./img/toco-img3/business-header.png) center center no-repeat, rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode:hard-light;
    margin-top: 80px;
}
.header-title-bg .title-bg-color{
    background-color: rgba(0, 0, 0, 0.3);
    
}
.header-title-bg .title-bg-color p{
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

/* ==================== 사업현황 컨텐츠 영역 시작 ==================== */
.business-contents{
    width: 100%;
    height: 100%;
}
/* ---------- 에코스 ---------- */
#content-ecoce{
    max-width: 1440px;
    width: 75vw;
    height: 883px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* 수직 정렬 */
    align-items: center;
    /* 확인 */
    flex-wrap: nowrap;
    /* border: 1px solid red; */
}
.ecoce-left{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.ecoce-left .ecoce-left-top p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
}
.ecoce-left .ecoce-left-top p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #C8C8C8;
}
.ecoce-left .ecoce-left-bottom{
    margin-top: 54px;
    background: url(./img/toco-img3/business-ECOCE-screen2.png) no-repeat;
    background-size:90%;
}
.ecoce-left .ecoce-left-bottom img{
    width: 60%;
    padding: 8% 0 0 35%;
    /* 패팅값을 %로 줘야 .ecoce-left 영역을 벗어나지 않음 */
    /* padding: 30px 0 0 240px; */
}

.ecoce-right{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    /* 확인 */
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
}
.ecoce-right p{
    text-align: right;
}
.ecoce-right p:nth-child(1){
    font-size: 30px; font-weight: bold; line-height: 44px;
    margin-bottom: 15%;
}
.ecoce-right p:nth-child(3){
    font-size: 22px; font-weight: bold; line-height: 32px;
    margin-top: 5%;
}
.ecoce-right .ecoce-logo{
    width: 65%;
}
.ecoce-right .ecoce-appstore{
    display: flex;
    justify-content: flex-end;
    margin-top: 15%;

}
.ecoce-right .ecoce-appstore .google-store {
    width: 188px;
    height: 57px;
    background-color: #1e1e1e;
    border-radius: 30px;
    margin-left: 6%;
}
.ecoce-right .ecoce-appstore .google-store a{
    width: 188px;
    height: 57px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.ecoce-right .ecoce-appstore .google-store img{
    width: 31px;
    height: 35px;
    color: #fff;
    word-break:keep-all;
    padding: 11px 12px 11px 20px;
}
.ecoce-right .ecoce-appstore .google-store span{
    display: inline-block;
    width: 93px;
    height: 42px;
    font-size: 14px; font-weight: normal; line-height: 22px;
    color: #fff;
    word-break:keep-all;
}

/* ---------- 모아두 ---------- */
.moado-bg{
    width: 100%;
    height: 820px;
    background:
      linear-gradient(180deg, rgba(255,255,255,1), rgba(255,0,0,0) 100%),
      linear-gradient(30deg, #339be14c, rgba(0,255,0,0) 30.71%),
      linear-gradient(300deg, #e4cde8, rgba(0,0,255,0) 70.71%);
    margin-top: 80px;
}
#content-moado{
    max-width: 1440px;
    width: 75vw;
    height: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* 수직 정렬 */
    align-items: center;
    /* 확인 */
    flex-wrap: nowrap;
    /* 모아두 중간이미지 위치 정렬 */
    position: relative;
}
.moado-left{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.moado-left .moado-title p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
}
.moado-left .moado-title p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #C8C8C8;
}
.moado-left .moado-left-bottom img{
    width: 115%;
    padding: 8% 0 22% 0;
    /* 패팅값을 %로 줘야 .ecoce-left 영역을 벗어나지 않음 */
    /* padding: 30px 0 0 240px; */
}
.moado-middle{
    width: 46%;
    position: absolute;
    left: 33%;
    bottom: 0;
}
.moado-right{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    /* 확인 */
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
}
.moado-right p:nth-child(1){
    font-size: 30px; font-weight: bold; line-height: 44px;
    text-align: right;
    margin-bottom: 18%;
}
.moado-right .moado-logo{
    width: 62%;
    margin-bottom: 18%;
}
.moado-right .moado-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.moado-right .moado-link a{
    width: 153px;
    height: 57px;
    border-radius: 69px;
    background-color: #1e1e1e;
    text-decoration: none;
    color: #fff;
}
.moado-right .moado-link span{
    display: inline-block;
    width: 153px;
    height: 57px;
    font-size: 14px; font-weight:normal; line-height: 57px;
    text-align: center;
}

/* ---------- ETC ---------- */
#content-etc{
    max-width: 1440px;
    width: 75vw;
    margin: 150px auto 200px auto;
    display: flex;
    flex-direction: column;
    /* 수직 정렬 */
    justify-content: center;
    /* 왼쪽 정렬 */
    align-items: left;
    /* 확인 */
    flex-wrap: nowrap;
    /* 모아두 중간이미지 위치 정렬 */
    position: relative;
    /* border: 1px solid red; */
}
.etc-title p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
}
.etc-title p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #C8C8C8;
}
/* test */
.etc-projects{
    margin: 3% 0;
    /* border: 1px solid red; */
}
.etc-projects div{
    margin: 10px 0;
}
.etc-projects .etc-project-img{
    max-width: 233px;
    max-height: 350px;
    /* width: 100vw; */
    margin: 0 auto;
    box-shadow: 1px 1px 15px #C8C8C8;
    box-sizing: border-box;
    /* background-color: yellow; */
}

/* 최종확인하고 지우기 */
/* .etc-projects{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.etc-projects .etc-project-img{
    max-width: 223px;
    width: 15.5vw;
    margin-top: 5%;
    box-shadow: 1px 1px 15px #C8C8C8;
    box-sizing: border-box;
    background-color: yellow;
} */

/* ==================== 푸터 ==================== */
.footer{
    /* border: solid 2px blue; */
    width:100%;
    height: 250px;
    background: #E9E9E9;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrap {
    max-width: 1440px;
    width: 75vw;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer-text{ 
    /* border: solid 2px red; */
    margin-top: 30px;
    display: flex;
    gap: 7%;
    color:#9e9e9e;
}

.footer .copyright{
    color:#9E9E9E;
    font-weight:600;
}      

.footer-left,.footer-right{
    line-height:25px;
}





/* ==================== 전유진 미어쿼리 작성 ==================== */
@media screen and (max-width: 1487px) {
    .etc-projects .etc-project-img{
        max-width: 223px;
        /* width: 100vw; */
    }
}