

/* ==================== 상세페이지 헤더 ==================== */
.nav-gnb{
    background-color: #fff;
}
.nav-gnb .menu .menu-wrap a{
    color: #000;
}
input[id="menuicon"] + label span{
    background-color: #000;
}

/* ==================== 헤더 타이틀 ==================== */
.header-title-bg {
    width: 100%;
    height: 300px;
    background: url(./img/toco-img3/business-header.png) center center no-repeat, rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode:hard-light;
    position: absolute;
    top: 80px;
    
}
.header-title-bg .title-bg-color{
    background-color: rgba(0, 0, 0, 0.3);
    
}
.header-title-bg .title-bg-color p{
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

/* ==================== 에코스 ==================== */

.business-content{
    width: 100%;
    position: absolute;
    left: 0;
    top: 380px;
}
.content-ecoce{
    width: 75%;
    margin: 0 auto;
    position: relative;
}
.content-ecoce .ecoce-top{
    width: 141px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 100px;
}
.content-ecoce .ecoce-top p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
}
.content-ecoce .ecoce-top p:nth-child(2){
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #C8C8C8;
}
.content-ecoce .ecoce-left{
    /* position: relative; */
}
.content-ecoce .ecoce-left img:nth-child(2){
    position: absolute;
    z-index: 1;
    left: 0;
    top: 238px;
}
.content-ecoce .ecoce-left img:nth-child(1){
    position: absolute;
    z-index: 100;
    left: 229px;
    top: 296px;
}
.content-ecoce .ecoce-right{
    /* position: relative; */
}
.content-ecoce .ecoce-right p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 238px;
}
.content-ecoce .ecoce-right img{
    position: absolute;
    right: 0;
    top: 466px;
}
.content-ecoce .ecoce-right p:nth-last-child(1){
    position: absolute;
    right: 0;
    top: 623px;
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
}
