* {
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}


/* ==================== main 헤더 ==================== */

/* ----- 헤더 배경 ----- */
.header-bg{
    width: 100%;
    height: 900px;
    background: url(./img/toco-img1/main-header1.png) center center no-repeat, rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode:hard-light;
    overflow-x: hidden;
    position: relative;
}
.header-bg .bg-color{
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ----- 헤더 로고 ----- */
.nav-gnb{
    width: 100%;
    height: 80px;
    border-bottom: 0.5px solid #fff;
    opacity: 0.99;
    position:absolute;
    left: 0;
    top: 0;
}
.nav-gnb .home-logo{
    width: 133px;
    height: 30px;
    position: absolute;
    left: 12.5%;
    top: 25px;
}

/* ----- 헤더 메뉴 ----- */
.nav-gnb .menu{
    width: 342px;
    height: 29px;
    position: absolute;
    right: 20%;
    top: 26px;
}
.nav-gnb .menu .menu-wrap{
    display: inline-block;
    width: 74px;
    height: 29px;
    text-align: left;
    /* color: white; */
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    /* font: normal normal bold 20px/29px Noto Sans KR; */
    letter-spacing: 0px;
}
.nav-gnb .menu .menu-wrap a{
    width: 74px;
    color: white;
}
.nav-gnb .menu .menu-wrap a:hover{
    color: #184B9F;
    transition: all .35s;
}
.nav-gnb .menu .menu-wrap:nth-child(2){
    margin: 0 56px;
}

/* ----- 헤더 메뉴더보기 ----- */
/* ----- 아이콘 배치, 햄버거 아이콘 만들기 ----- */
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    right: -86.5%;
    top: 24px;
    cursor: pointer;
}
input[id="menuicon"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #fff;
    transition: all .2s;
}
input[id="menuicon"] + label span:nth-child(1){
    top:0;
}
input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
}

/* ----- 닫기 아이콘 만들기 ----- */
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg); 
}

/* ----- 메뉴더보기 나타나기 ----- */

input[id="menuicon"] + label + div{
    display: none;
}
input[id="menuicon"]:checked + label + div{
    display: block;
    width: 100%;
    height: 250px;
    background-color: rgb(0, 50, 100);
    position: absolute;
    top: 80px;
    opacity: 0.9;
}

/* ----- 전체 메뉴 리스트 ----- */
.nav-lnb .lnb-menu{
    width: 342px;
    position: absolute;
    right: 20%;
    text-align: left;
}
.nav-lnb .lnb-menu{
    display: flex;
    flex-direction: row;
}
.nav-lnb .lnb-menu ul li{
    width: 134px;
    margin-top: 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}
.nav-lnb .lnb-menu ul li a{
    color: #fff;
}
.nav-lnb .lnb-menu ul li:nth-child(1){
    margin-top: 25px;
}


/* ----- 해더 텍스트 ----- */
header .header-text-b{
    width: 376px;
    height: 116px;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    vertical-align: center;
    color: #FFF;
    position: absolute;
    left: 12.5%;
    top: 50%;
}
header .header-text-s{
    width: 618px;
    height: 52px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    vertical-align: center;
    color: #FFF;
    position: absolute;
    left: 12.5%;
    top: 70%;
}
        



/* ==================== 상세페이지 헤더 ==================== */
/* .nav-gnb{
    background-color: #fff;
}
.nav-gnb .menu .menu-wrap .menu-underline:hover{
    position: absolute;
    display: inline-block;
    margin: 0 0;
    width: 100%;
    height: 5px;
    left: 0;
    top: 35px;
    background-color: #184B9F;
}
.nav-gnb .menu .menu-wrap a{
    color: #000;
}
input[id="menuicon"] + label span{
    background-color: #000;
} */






/* ==================== 푸터 ==================== */
.footer{
    /* border: solid 2px blue; */
    width: 100%;
    height: 250px;
    background: #E9E9E9;
    /* display: table;    */
}

.footer .footer-wrap {
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    /* display: table-cell; */
    vertical-align:middle;
    flex-direction: column;
    justify-content: center;
}
.footer .footer-wrap .footer-logo-wrap .footer-logo{
    width: 200px;
    height: 45px;
}
.footer .footer-wrap .footer-logo-wrap .copyright{
    color:#9E9E9E;
    font-weight:600;
} 
.footer .footer-wrap .footer-text{ 
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: left;
    word-break: keep-all;
    gap: 10%;
}
.footer .footer-wrap .footer-text p{         
    color:#9e9e9e;
    margin-top: 10px;
}      